<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <h1><%= @book.title %></h1>
        <h3><%= @book.author %></h3>
        <p><%= @book.genre %></p>
        <p><%= @book.description %></p>
        <% if current_user %>
          <% if @book.ordered? %>
            <p><%= link_to "Return", book_return_path(@book), method: :put, class: "btn btn-warning btn-block" %></p>
          <% else %>
            <p><%= link_to "Order", book_orders_path(@book), method: :post, class: "btn btn-success btn-block" %></p>
          <% end %>
          <% if is_admin %>
            <p><%= link_to "Edit", edit_book_path, class: "btn btn-primary btn-block" %></p>
            <p><%= link_to "Delete", book_path, method: :delete, class: "btn btn-danger btn-block" %></p>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-4">
        <h1>Miejsce na zdjecie</h1>
      </div>
    </div>
  </div>
</div>

<h3>History</h3>
<table class="table">
  <tr>
    <thead>
      <th>User</th>
      <th>Ordered at</th>
      <th>Returned at</th>
    </thead>
  </tr>
  <tbody>
    <% if @orders.present? %>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.user.name %></td>
          <td><%= order.created_at %></td>
          <td><%= order.returned_at || "-" %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td class="text-center" colspan="3">History not found.</td>
      </tr>
    <% end %>
  </tbody>
</table>